
$text-font-stack: 'Merriweather', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-color: rgb(19,19,19) !default;
$brand-color: rgb(229,0,80) !default;

$max-width: 1140px !default;

$breakpoints: (
	'xsmall': (min-width: 700px),
	'small': (min-width: 1030px),
	'medium': (min-width: 1225px),
	'large': (min-width: 1900px),
	'xlarge': (min-width: 2500px)
) !default;

$base-url: '/assets/' !default;
